<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">

        <div class="row">

            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2022</small>
            </div>
        
           
            <div class="col-6 col-md">
                <h5>Developer</h5>
                <ul class="list-unstyled text-small">
                    <!--<li><a class="text-muted" href="#">developer</a></li>!-->
                    <li><h5>Yashas.A.Bharadwaj</h5></li>
                    <li><h5>Email-->yashasbharadwaj6@gmail.com</h5></li>
                   
                </ul>
            </div>
        </div>
    </footer>
    <div>